<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <ae-icons-component name="construct" color="black"></ae-icons-component>
    <ae-icons-component name="finger-print" color="silver"></ae-icons-component>
    <ae-icons-component name="flask" color="gray"></ae-icons-component>
    <ae-icons-component name="flower" color="white"></ae-icons-component>
  </div>
  <div>
    <ae-icons-component name="heart" aesize="ae16" color="maroon"></ae-icons-component>
    <ae-icons-component name="ice-cream" aesize="ae16" color="red"></ae-icons-component>
    <ae-icons-component name="sunny" aesize="ae16" color="purple"></ae-icons-component>
    <ae-icons-component name="moon" aesize="ae16" color="fuchsia"></ae-icons-component>
  </div>
  <div>
    <ae-icons-component name="star" aesize="ae24" color="green"></ae-icons-component>
    <ae-icons-component name="planet" aesize="ae24" color="lime"></ae-icons-component>
    <ae-icons-component name="globe" aesize="ae24" color="olive"></ae-icons-component>
    <ae-icons-component name="rocket" aesize="ae24" color="yellow"></ae-icons-component>
  </div>
  <div>
    <ae-icons-component name="snow" aesize="ae32" color="navy"></ae-icons-component>
    <ae-icons-component name="rainy" aesize="ae32" color="blue"></ae-icons-component>
    <ae-icons-component name="umbrella" aesize="ae32" color="teal"></ae-icons-component>
    <ae-icons-component name="rose" aesize="ae32" color="aqua"></ae-icons-component>
  </div>
</ion-content>
