<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-label>
    @adaept
  </ion-label>

  <ion-icon src="/assets/svg/adaept_logo_rg_256x256.svg"></ion-icon>

  <p>Icon</p>
  <!-- <div>
     <ion-button padding icon-only>
      <ion-icon name="adaept-adaept-ae"></ion-icon>
    </ion-button>
    <ion-button padding icon-only>
      <ion-icon name="adaept-adaepta"></ion-icon>
    </ion-button>
    <ion-button padding icon-only>
      <ion-icon name="adaept-adaepte"></ion-icon>
    </ion-button>
  </div>

  <p>Embed</p>
  <div>
    <ion-icon class="px50" name="adaept-adaept-ae"></ion-icon>
    <ion-icon class="px50" name="adaept-adaepta"></ion-icon>
    <ion-icon class="px50" name="adaept-adaepte"></ion-icon>
  </div> -->

  <ion-fab vertical="top" horizontal="end" slot="fixed" edge>
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button size="small" color="primary">
        <ion-icon name="alarm"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" color="secondary">
        <ion-icon name="american-football"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" color="tertiary">
        <ion-icon name="aperture"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" color="success">
        <ion-icon name="at"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" color="warning">
        <ion-icon name="barcode"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" color="danger">
        <ion-icon name="baseball"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" color="light">
        <ion-icon name="basket"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" color="medium">
        <ion-icon name="basketball"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" color="dark">
        <ion-icon name="beer"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
