<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ambigram</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="../assets/ambi/ambigram-generator.gif" />
  <img src="../assets/ambi/ambi Awesome Ambigram Generator.png" />
  <img src="../assets/ambi/ambi COM FER AMBIGRAMES.png" />
  <img src="../assets/ambi/ambi Creating Palindrograms, aka palindromic ambigrams – Punya Mishras.png" />
  <img src="../assets/ambi/ambi Chonglai on _ _typography2.png" />
  <img src="../assets/ambi/ambi e511f00a2477058c3e7ee75e1018bd05.png" />
  <img src="../assets/ambi/ambi-602a104eb92e1604a3101a731177defd.png" />
  <img src="../assets/ambi/ambigram _ wordplay ambigrams _ Pinterest _ Typography.png" />
  <img src="../assets/ambi/ambigram.png" />
  <img src="../assets/ambi/ambigram__ambigram_by_truston-d6nxrnp.png" />
  <img src="../assets/ambi/ambigram_by_arpad.png" />
  <img src="../assets/ambi/ambigram_by_graphiqual-d36ikn4.png" />
  <img src="../assets/ambi/ambigram_by_raijinfengeki.png" />
  <img src="../assets/ambi/ambigram_calendar___cover_by_scalpod.png" />
  <img src="../assets/ambi/ambigram_for_ambigram_by_surrealitytv.png" />
  <img src="../assets/ambi/Ambigram-showcase.png" />
  <img src="../assets/ambi/ambi U5dshJbC3EN2KkhUFVMVGfvCR8HU7tM.gif" />

</ion-content>