<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ambigram</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="../assets/ambi/ambigram_generator.gif" />
  <img src="../assets/ambi/ambi_Awesome_Ambigram_Generator.png" />
  <img src="../assets/ambi/ambi_COM_FER_AMBIGRAMES.png" />
  <img src="../assets/ambi/ambi_Creating_Palindrograms_aka_palindromic_ambigrams__Punya_Mishras.png" />
  <!-- <img src="../assets/ambi/ambi_Chonglai_on_typography2.png" /> -->
  <img src="../assets/ambi/ambi_e511f00a2477058c3e7ee75e1018bd05.png" />
  <img src="../assets/ambi/ambi_602a104eb92e1604a3101a731177defd.png" />
  <img src="../assets/ambi/ambigram_wordplay_ambigrams_Pinterest_Typography.png" />
  <img src="../assets/ambi/ambigram.png" />
  <img src="../assets/ambi/ambigram__ambigram_by_truston-d6nxrnp.png" />
  <img src="../assets/ambi/ambigram_by_arpad.png" />
  <img src="../assets/ambi/ambigram_by_raijinfengeki.png" />
  <img src="../assets/ambi/ambigram_calendar___cover_by_scalpod.png" />
  <img src="../assets/ambi/ambigram_for_ambigram_by_surrealitytv.png" />
  <img src="../assets/ambi/Ambigram_showcase.png" />
  <img src="../assets/ambi/ambi_U5dshJbC3EN2KkhUFVMVGfvCR8HU7tM.gif" />

</ion-content>