// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// TODO

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

//$colors: (
//  primary:    #005000,
//  secondary:  #32db64,
//  tertiary:   #7044ff,
//  success:    #10dc60,
//  warning:    #ffce00,
//  danger:     #f53d3d,
//  light:      #f4f4f4,
//  medium:     #989aa2,
//  dark:       #222,
//  aecard:     #008000,
//  aeblue:     blue,
//  aeyellow:   yellow
//  );

:root {
  --ion-color-primary: #005000;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #004000;
  --ion-color-primary-tint: #196119;
  --ion-color-primary-rgb: 0, 80, 0;

  --ion-color-secondary:   #32db64;
  --ion-color-tertiary:    #7044ff;
  --ion-color-success:     #7cfc00;
  --ion-color-warning:     #ffce00;
  --ion-color-danger:      #f04141;
  --ion-color-light:       #f4f5f8;
  --ion-color-medium:      #989aa2;
  --ion-color-dark:        #222428;
  
  --ion-color-favorite:    #69BB7B;
  --ion-color-twitter:     #1da1f4;
  --ion-color-google:      #dc4a38;
  --ion-color-vimeo:       #23b6ea;
  --ion-color-facebook:    #3b5998;
  }
  
  $background-option-menu:  #32db64;
  